# Ignore written divergence CSV
divergences/

# Ignore logfile
randomActivityGen-log.txt

# Ignore large network
/in/cities/aalborg.net.xml
/in/cities/aarhus.net.xml
/in/cities/copenhagen.net.xml
/in/cities/odense.net.xml

.idea
out
__pycache__
